// tr td {
//     text-align: center;
// }
tr td:first-of-type() {
    text-align: left;
}

tr td:nth-of-type(2) {
    text-align: center;
}

tr td:nth-of-type(3) {
    text-align: center;
}

tr td:nth-of-type(4) {
    text-align: center;
}

tr td:nth-of-type(5) {
    text-align: center;
}

tr td:nth-of-type(6) {
    text-align: center;
}