md-input-container {
    width: 50%;
}
    
    
    
    
.suggestions {    
    position: absolute;
    margin-top: -10px;
    z-index: 10;
    width: 34%;
    max-height: 250px;
    overflow-y: scroll;
    background-color: #fff;
    
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    
    padding:0px;

    ul {
        list-style: none;
    }

    li {
        padding: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        span {
            font-style: italic;
            font-size: 14px;
        }
        
    }
}