<td>{{ question.description}}</td>

<ng-template ngFor let-prevStep [ngForOf]="prevStepsId">
  <td>
    <md-select name="answer" [(ngModel)]="answeredQuestions[prevStep][question.id].answer" [disabled]="true">
      <md-option *ngFor="let answer of question.answers" [value]="answer">
        {{ answer.typeOfAnswer.description }}
      </md-option>
    </md-select>
  </td>
  <td>
    <span>{{ answeredQuestions[prevStep][question.id].answer.value}}</span>
  </td>
</ng-template>

<td>
  <md-select placeholder="Вариант ответа" name="answer" [(ngModel)]="answer" (ngModelChange)="getAnswer($event)">
    <md-option *ngFor="let answer of question.answers" [value]="answer">
      {{ answer.typeOfAnswer.description }}
    </md-option>
  </md-select>
</td>
<td>
  <span *ngIf="answer.value">{{ answer.value}}</span>
</td>
<td>
  <md-input-container>
    <textarea mdInput mdAutosize minRows="2" placeholder="Комментарий" [value]="comment" (change)="changeComment($event)"></textarea>
  </md-input-container>
</td>