.logo {
  position: absolute;
  top:15%;
  left:33%;
  width: 33%;
  z-index: 1;
  text-align: center;
  outline: 0px solid black;

  h1 {
    color: rgba(0,0,0,0.5);
    margin-top:25px;
    font-style: oblique;
    font-weight: bold;
    font-size: 50px;
    font-stretch: condensed;


  }
  a {
    display: block;
    md-icon {
      width:100px;
      height:100px;
      font-size: 64px;
      color: rgba(255,255,255,0.8);
      background-color: rgba(0,0,0,0.5);
      border-radius: 50%;
      padding-top:15px;
    }
  }
}


.btn-group {
  display: block;

  outline: 0px solid black;
  text-align: center;
  vertical-align: middle;
  margin-top:45%;

  a {
    text-decoration: none;
    margin-left:20px;
    padding:5px 10px;
    font-size: 20px;
  }
}
