<div *ngIf="step">
  <md-toolbar>
    <h3>{{ step.typeOfTeachingStep.description}}</h3>
  </md-toolbar>

  <md-select *ngIf="listDP.length" placeholder="Торговая точка" name="dp">
    <md-option *ngFor="let dp of listDP" [value]="dp">
      {{ dp.description }}
    </md-option>
  </md-select>

  <div>
    <h3>Вопросы</h3>

    <div class="header">
      <div class="flex-question">Вопрос</div>
      <ng-template ngFor let-qty [ngForOf]="getRange(1)">
        <div class="flex-answer">Ответ</div>
        <div class="flex-rating">Оценка</div>
      </ng-template>
      <div class="flex-comment">Комментарий</div>
    </div>

    <app-question *ngFor="let question of theme.questions" [question]="question" [answeredQuestions]="answeredQuestions" [step]="step"></app-question>
  </div>

  <br>
  <button *ngIf="!isFinish" md-raised-button (click)="next()">Далее</button>
  <button *ngIf="isFinish" md-raised-button>Завершить</button>
</div>