.row-info {
    // outline: 1px solid #ccc;
    display: flex;
}

md-icon {
    // outline: 1px solid #ccc;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

hr {
    margin-top: -5px;
}

.details {
    margin: 10px;
    padding: 10px;
}

button {
    margin-top: 20px;
}


/* анимация при появлении скрытых блоков */