.row-info {
    display: flex;
    .example-spacer {
        flex: 1 1 auto;
    }
}

md-icon {
    padding: 20px;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;
}

.details {
    margin: 10px;
    padding: 10px;
}

.indicators-list {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}