<div class="wrapper">
    <div class="reports">

        <md-select placeholder="Favorite food" name="food">
            <md-option>
                fgwergrg
            </md-option>
            <md-option>
                fgwergrgewfwfwf
            </md-option>
            <md-option>
                fgwergrgwfwfw3f
            </md-option>
        </md-select>


        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="button" color="warn" [disabled]="isDisableForm">
                <i class="material-icons">close</i>
          </button>



    </div>
    <md-list>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-checkbox>Check me!</md-checkbox>
        </md-list-item>

    </md-list>

    <div class="save">
        <md-input-container>
            <input mdInput placeholder="Favorite food" value="Sushi">
        </md-input-container>
        <button md-mini-fab><md-icon>save</md-icon></button>
    </div>

</div>