.wrapper {
    margin-top: 100px;
}

.header {
    // text-align: right;
    button {
        width: 130px;
        &:last-child {
            margin: 3px auto;
        }
    }
}

.choose_fields {
    height: 100px;
}

md-icon {
    color: #000;
}

md-select {
    margin: 20px 10px;
    width: 200px;
}

md-list-item {
    line-height: 30px;
}