<div class="wrapper">
  <div class="header">

    <md-input-container>
      <input mdInput placeholder="Название отчета" [(ngModel)]="currentReport.description">
    </md-input-container>


    <button md-raised-button color="primary">
      <span>Обновить</span>
      <md-icon>restore_page</md-icon>
    </button>

    <button md-raised-button color="primary">
      <span>Сохранить</span>
      <md-icon>save</md-icon>
    </button>
  </div>
  <hr>
  <md-list>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox>Check me!</md-checkbox>
    </md-list-item>

  </md-list>

</div>