<tr>
  <td>
    <button type="button" class="btn" (click)="toggle($e)">
          <ng-template [ngIf]="isExpanded">-</ng-template>
          <ng-template [ngIf]="!isExpanded">+</ng-template>
        </button> {{agent.name}}
  </td>

  <!--<td *ngFor="let field of fields">{{agent[field.field]}}</td>-->
  <td *ngFor="let field of fields[0]">{{agent[field.field]}}</td>
  <!--<td>{{agent.sumplan}}</td>
    <td>{{agent.sumfact}}</td>
    <td>{{agent.sumpercent}}</td>
    <td>{{agent.prediction}}</td>
    <td>{{agent.predicrion_percent}}</td>
    <td>{{agent.gap}}</td>
    <td>{{agent.planforDay}}</td>-->
</tr>
<ng-template [ngIf]="isExpanded">
  <ng-template ngFor let-deliveryPoint [ngForOf]="agent.deliveryPointsPlans">
    <tr>
      <td>{{deliveryPoint.name}}</td>
      <td *ngFor="let field of fields[0]">{{deliveryPoint[field.field]}}</td>
      <!--<td>{{deliveryPoint.plan}}</td>
      <td>{{deliveryPoint.fact}}</td>
      <td>{{deliveryPoint.sumpercent}}</td>
      <td>{{deliveryPoint.prediction}}</td>
      <td>{{deliveryPoint.predicrion_percent}}</td>
      <td>{{deliveryPoint.gap}}</td>
      <td>{{deliveryPoint.planforDay}}</td>-->
    </tr>
  </ng-template>
</ng-template>