<tr>
  <td>
    <button type="button" class="btn" (click)="toggle($e, routeNumber)">
          <ng-template [ngIf]="isExpanded">-</ng-template>
          <ng-template [ngIf]="!isExpanded">+</ng-template>
        </button> {{fullData[0].gp[routeNumber].name}}
  </td>
  <ng-template ngFor let-indicator [ngForOf]="fullData">
    <td *ngFor="let field of fields[0]">{{indicator.gp[routeNumber][field.field]}}</td>
  </ng-template>
</tr>



<ng-template [ngIf]="isExpanded">

  <!--<ng-template ngFor let-indicator [ngForOf]="fullData">
    <ng-template ngFor let-deliveryPoint [ngForOf]="indicator.gp[routeNumber].deliveryPointsPlans">
      <tr>
        <td *ngFor="let field of fields[0]">{{deliveryPoint[field.field]}}</td>
      </tr>
    </ng-template>
  </ng-template>-->

</ng-template>