<md-card>

    <md-toolbar>
        <span>Панель администратора</span>
        <button md-raised-button color="accent" [routerLink]="['/', { outlets: { popup: 'user/new' } }]">
          <md-icon>add</md-icon>
          <span>Добавить</span>
        </button>
    </md-toolbar>
    <!--<div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9"></div>
    </div>-->

    <div class="table-responsive">
        <table class="table  table-hover table-striped  table-condensed dataTables-example">
            <thead>
                <tr appSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th appSortBy="id"><span>Id</span> <span class="fa fa-sort"></span></th>
                    <th appSortBy="login"><span>Логин</span> <span class="fa fa-sort"></span></th>
                    <th appSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
                    <th appSortBy="isActive" class="th-center"><span>Статус</span> <span class="fa fa-sort"></span></th>
                    <th appSortBy="isVerified" class="th-center"><span>Подтвержден</span> <span class="fa fa-sort"></span></th>
                    <th appSortBy="langKey"> <span>Язык</span> <span class="fa fa-sort"></span></th>
                    <th><span>Profiles</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td><a [routerLink]="['../user-management', user.login]">{{user.id}}</a></td>
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>
                    <td align="center">
                        <md-slide-toggle color="accent" [checked]="user.isActive" (change)="setActive(user, $event, 'isActive')">
                        </md-slide-toggle>
                    </td>
                    <td align="center">
                        <md-slide-toggle color="accent" [checked]="user.isVerified" (change)="setActive(user, $event, 'isVerified')">
                        </md-slide-toggle>
                    </td>
                    <td>{{user.langKey}}</td>
                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span class="tag tag-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>
                        <!--<button md-mini-fab mdTooltip="Просмотр" [mdTooltipShowDelay]="300" [mdTooltipPosition]="'before'" [routerLink]="['/', { outlets: { popup: 'user/' + user.login + '/detail' } }]"><md-icon>visibility</md-icon></button>-->
                        <button md-mini-fab mdTooltip="Редактировать" [mdTooltipShowDelay]="300" [mdTooltipPosition]="'before'" [routerLink]="['/', { outlets: { popup: 'user/' + user.login + '/edit' } }]"><md-icon>create</md-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>

</md-card>