@import "~theme.scss";
.mat-toolbar {
    // background-color: transparent;
}

md-toolbar {
    text-align: center;
    button {
        position: absolute;
        right: 40px;
    }
    span {
        //display: block;
    }
}

button[md-mini-fab] {
    md-icon {
        font-size: 1.3em;
    }
}


/* table */

.table-responsive {}

table {
    font-size: 0.9em;
    thead {
        tr {
            th {
                border: none;
                span:first-of-type {
                    margin-right: 3px;
                }
            }
            .th-center {
                text-align: center;
            }
        }
    }
}


/******** ngb-pagination *********/

ngb-pagination /deep/ {
    ul {
        margin-left: 40%;
    }
    a {
        color: $text-color;
        &:hover {
            color: $text-color;
        }
    }
    .page-item.active .page-link {
        background-color: mat-color($accent);
        color: #fff;
        border: 1px solid mat-color($accent);
    }
    .page-link {
        padding: .40rem .65rem;
    }
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0;
    }
}