<md-toolbar color="primary">
    <nav>
        <a class="hide-header-item" md-button (click)="alert('Тут откроется окно с заказом или переход на него =)');">
            <md-icon class="cart-icon">shopping_cart</md-icon>
            <span>Корзина</span>
        </a>
        <a class="hide-header-item" md-raised-button color="accent">Помощь</a>
        <button md-icon-button class="dropdown-menu-mobile" [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>

    </nav>

    <md-menu #menu="mdMenu">
        <button md-menu-item>
          <md-icon>shopping_cart</md-icon>
            <span>Корзина</span>
        </button>
        <button md-menu-item>
          <md-icon>voicemail</md-icon>
          <span>Помощь</span>
        </button>
    </md-menu>
</md-toolbar>