
md-toolbar {
  position: fixed;
  z-index: 11;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

// .mat-toolbar.mat-primary {
//   background-color: transparent;
// }

nav {
  height: 100%;
  width: 100%;
  outline: 0px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;

  a {
    margin-right: 1.2em;
  }

}
.burger {
  //margin-right: auto;
  display: inline-block;
}
.logo {
    margin-right: auto;
    margin-left: 30px;
    height: 100%;
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../assets/images/tr-logo.png") no-repeat center center;
    background-size: contain;
}


.cart-icon {
  color: #fff;
}




a {
  // color: $primaryC;
  color: #fff;
  text-decoration: none;
}