<div class="wrapper">
    <div class="header">
        <md-toolbar>
            <h3> Отчеты </h3>
            <span class="close">
              <button md-icon-button>
                <md-icon (click)="close()">close</md-icon>
              </button>
        </span>
        </md-toolbar>
    </div>
    <br>

    <!--<div>
        <div class="row-info">

            <!--<h5 md-line></h5>

            <span class="example-spacer"></span>
            <button md-button *ngIf="!details">
          <md-icon (click)="toggleInfo()">add</md-icon>
        </button>
            <button md-button *ngIf="details">
          <md-icon>remove</md-icon>
        </button>

            <!--<button md-button (click)="toggleInfo()">
      <ng-template [ngIf]="details"><md-icon>remove</md-icon></ng-template>
      <ng-template [ngIf]="!details"><md-icon>add</md-icon></ng-template>
    </button>

            <span class="example-spacer"></span>
            <button md-icon-button *ngIf="!details">
          <md-icon (click)="toggleInfo()">add</md-icon>
        </button>

            <button md-icon-button *ngIf="details">
          <md-icon (click)="toggleInfo()">remove</md-icon>
        </button>


        </div>
        <div class="details" *ngIf="details">

            <div class="header-details">

                <div class="filter-item" id="second">
                    <md-select placeholder="Маршруты" [multiple]="true" (ngModelChange)="changeRoutes($event)">
                        <md-option *ngFor="let route of routes" [value]="getSelected(currentRoutes, route)">
                            {{ route.description }}
                        </md-option>
                    </md-select>
                </div>

                <div class="filter-item" id="third">
                    <md-select placeholder="Показатели" [(ngModel)]="currentIndicators" [multiple]="true" (ngModelChange)="changeIndicators($event)" [disabled]="!indicators">
                        <md-option *ngFor="let indicator of indicators" [value]="getSelected(currentIndicators, indicator)">
                            {{ indicator.description }}
                        </md-option>
                    </md-select>
                </div>

            </div>

 

    <br>
    <span class="label-for-list">Реквизиты показателей:</span>
    <div class="indicators-list">
        <div class="indicator-item" *ngFor="let indicator of report.planValues">
            <span>{{indicator.description}}</span>
            <md-select placeholder="Поля" [(ngModel)]="indicator.planFields" [multiple]="true">
                <md-option *ngFor="let field of allFields" [value]="getSelected(indicator.planFields, field)">
                    {{ field.description }}
                </md-option>
            </md-select>
        </div>
    </div>

</div>
<hr>
</div>-->

    <button md-icon-button (click)="create()">
        <md-icon >add</md-icon>
    </button>


    <app-report *ngIf="newReport" [report]="newReport" [routes]="routes" (onSave)="onSave($event)"></app-report>
    <app-report *ngFor="let report of reports" [report]="report" [routes]="routes" (onSave)="onSave($event)"></app-report>

</div>