<td>{{ question.description}}</td>

<ng-template ngFor let-prevStep [ngForOf]="prevStepsId">
  <td>
    <md-select name="answer" [(ngModel)]="answeredQuestions.steps[prevStep].questions[question.id].answer" [disabled]="true">
      <md-option *ngFor="let answer of question.answers" [value]="getSelected(answeredQuestions.steps[prevStep].questions[question.id].answer, answer)">
        {{ answer.typeOfAnswer.description }}
      </md-option>
    </md-select>
  </td>
  <td>
    <span>{{ answeredQuestions.steps[prevStep].questions[question.id].answer.value}}</span>
  </td>
</ng-template>

<td *ngIf="!onlyLast">
  <md-select placeholder="Вариант ответа" name="answer" [(ngModel)]="answer" (ngModelChange)="getAnswer($event)">
    <md-option *ngFor="let answerOption of question.answers" [value]="getSelected(answer, answerOption)">
      {{ answerOption.typeOfAnswer.description }}
    </md-option>
  </md-select>
</td>
<td>
  <span *ngIf="answer && showAnswer">{{ answer.value}}</span>
</td>
<td>
  <md-input-container>
    <textarea mdInput maxlength="50" mdAutosize rows="1" placeholder="Комментарий" [value]="comment" (change)="changeComment($event)" [disabled]="onlyLast || !answer.id"></textarea>
  </md-input-container>
</td>