.top-filter {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .filter-item,
    button {
        margin-left: 20px;
    }
    .report-config {
        margin-left: auto;
    }
    md-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        //width: 40px;
        //margin-left: 24px;
    }
}

// for table
.indicator-header {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    &:last-of-type {
        border-right: none;
    }
}

#myOnlineCamera video {
    width: 320px;
    height: 240px;
    margin: 15px;
    float: left;
}

#myOnlineCamera canvas {
    width: 320px;
    height: 240px;
    margin: 15px;
    float: left;
}

#myOnlineCamera button {
    clear: both;
    margin: 30px;
}