<md-card class="top-menu">
    <md-select placeholder="Выберите торговых представителей" [(ngModel)]="selectedAgents" [multiple]="true">
        <md-option *ngFor="let agent of agents" [value]="agent">
            {{agent.name}}
        </md-option>
    </md-select>

    <button md-button></button>




</md-card>

<md-card>
    <table class="table  table-hover table-condensed dataTables-example">
        <thead>
            <td *ngFor="let column of headerColumns">
                {{column}}
            </td>
        </thead>
        <tbody plan-detail-row [agent]="agent" *ngFor="let agent of selectedAgents"></tbody>
    </table>
</md-card>

<input type="checkbox" id="hmt" class="hidden-menu-ticker">
<label class="btn-menu" for="hmt">
  <span class="first"></span>
  <span class="second"></span>
  <span class="third"></span>
</label>
<div class="hidden-menu">
    <app-filterbar></app-filterbar>
</div>