.top-filter {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    .report-config {
        margin-right: auto;
    }
}

// for table
.indicator-header {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    &:last-of-type {
        border-right: none;
    }
}