<md-card>

  <div class="top-filter">
    <div class="filter-item">
      <md-select placeholder="Отчеты" [(ngModel)]="currentReport" (ngModelChange)="changeReports($event)" [disabled]="!reports.length">
        <md-option *ngFor="let report of reports" [value]="report">
          {{ report.name }}
        </md-option>
      </md-select>
    </div>
    <div class="filter-item">
      <md-select placeholder="Маршруты" [(ngModel)]="currentdRoutes" [multiple]="true" (ngModelChange)="changeRoutes($event)">
        <md-option *ngFor="let route of listRoutes" [value]="getSelected(currentdRoutes, route)">
          {{ route.description }}
        </md-option>
      </md-select>
    </div>
    <div class="filter-item">
      <md-select placeholder="Показатели" [(ngModel)]="currentIndicators" [multiple]="true" (ngModelChange)="changeIndicators($event)" [disabled]="!indicators">
        <md-option *ngFor="let indicator of indicators" [value]="getSelected(currentIndicators, indicator)">
          {{ indicator.description }}
        </md-option>
      </md-select>
    </div>

    <button md-mini-fab (click)="applyFilter()"><md-icon>filter_list</md-icon></button>

    <div class="filter-item report-config">
      <md-icon (click)="openConfig()">settings</md-icon>
    </div>
  </div>
</md-card>

<md-card *ngIf="routesData && currentReport && listIndicators && routesData.length">
  <table class="table  table-hover table-condensed table-responsive dataTables-example">
    <thead>
      <tr>
        <td></td>
        <td *ngFor="let indicator of currentIndicators" [attr.colspan]="indicator.planFields.length" class="indicator-header">
          {{indicator.description}}
        </td>
      </tr>
      <tr>
        <td>Маршрут</td>
        <ng-template ngFor let-indicator [ngForOf]="currentIndicators">
          <td *ngFor="let field of indicator.planFields" [hidden]="hideElement">
            {{field.description}}
          </td>
        </ng-template>
      </tr>
    </thead>
    <tbody plan-detail-row [route]="route" [indicators]=[listIndicators] *ngFor="let route of routesData"></tbody>
  </table>
</md-card>

<app-filterbar *ngIf="indicators && currentIndicators" [indicators]="indicators" [currentReport]="currentReport" [currentIndicators]="currentIndicators" (updateCurrentIndicators)="changeFields($event)"></app-filterbar>