.wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.block-table {
    width: 50%;
}

.block-comments {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    md-select {
        margin: 10px;
    }
    md-input-container {
        padding: 5px;
        width: 300px;
    }
    textarea {
        padding: 5px;
    }
    button {
        width: 116px;
        height: 36px;
        padding: 2px;
        margin-left: 180px;
    }
}

@media (max-width: 870px) {
    md-input-container {
        width: 300px;
    }
}