<md-card>
  <div class="row">
    <div class="col-md-3 toolbar-action">
      <md-select placeholder="Фильтр">

      </md-select>
      <!--<h2>{{ 'MENU.ORDERS' | translate }}</h2>-->
    </div>
    <div class="col-md-3 toolbar-action">

      <button md-raised-button color="accent" appHasAuthority="ROLE_ADMIN" [routerLink]="['/', { outlets : { popup : ['new-store'] } } ]" class="btn-new">
        <md-icon>add</md-icon>
        <span>Добавить точку</span>
       </button>
    </div>

  </div>
  <br>


  <div class="table-responsive">
    <table class="table  table-hover   table-condensed">
      <thead>
        <tr>
          <th><span>Id</span></th>
          <th><span>Наименование</span></th>
          <th><span>Статус</span></th>
          <th><span>Адрес Фактический</span></th>
          <th><span>ТУ</span></th>
          <th><span>ДЗ</span></th>
          <th><span>ИЗ</span></th>
          <th><span>ПК</span></th>
          <th class="th-center"><span>Действия</span></th>
          <th class="th-center"><span> </span></th>
        </tr>
      </thead>
      <tbody *ngIf="stores">
        <tr *ngFor="let store of stores; let i = index;">
          <td>{{store.id}}</td>
          <td>{{store.description}}</td>
          <td>{{store.isActive}}</td>
          <td>{{store.addresses}}</td>

          <td>
            <md-icon>explore</md-icon>
          </td>
          <td>
            <md-icon>add_shopping_cart</md-icon>
          </td>
          <td>
            <md-icon>alarm_add</md-icon>
          </td>
          <td>
            <md-icon>dns</md-icon>
          </td>
          <td align="center">
            <button md-mini-fab mdTooltip="Создать заказ для этой точки" [mdTooltipShowDelay]="300" [mdTooltipPosition]="'before'"><md-icon>add</md-icon></button>
            <button md-mini-fab mdTooltip="Заказы точки" [mdTooltipShowDelay]="300" [mdTooltipPosition]="'before'"><md-icon>toc</md-icon></button>
          </td>
          <td align="center">
            <!--<button md-mini-fab mdTooltip="Просмотр деталей" [mdTooltipShowDelay]="300" [mdTooltipPosition]="'before'" [routerLink]="['/', { outlets: { popup: 'store/' + store.id + '/detail' } }]"><md-icon>visibility</md-icon></button>-->
            <button md-mini-fab mdTooltip="Редактировать точку" [mdTooltipShowDelay]="300" [mdTooltipPosition]="'before'" [routerLink]="['/', { outlets: { popup: 'store/' + store.id + '/edit' } }]"><md-icon>create</md-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--<ngb-pagination [collectionSize]="200" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>-->
  </div>

</md-card>