@import "~theme.scss";

/* forms */

.form-filter {
    //background-color: #00B8D4;
    margin: -24px -24px 10px -24px;
}

material-datepicker {
    margin-right: 10px;
    /deep/ div input {
        border: none;
    }
}

material-datepicker /deep/ {
    input {
        border: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    }
}

md-select {
    margin-right: 10px;
    width: 15%;
    min-width: 150px;
}


/* table */

.table-responsive {
    margin-left: -15px;
    margin-right: -15px;
    width: 102%;
}

table {
    font-size: 14px;
}

thead tr th span:first-of-type {
    margin-right: 3px;
}

.btn_details {
    //background-color: $accent300;
    background-color: $tsAccent300;
    color: #fff;
    md-icon {
        color: #fff;
        font-size: 18px;
        padding-top: 2px;
    }
}


/******** ngb-pagination *********/

ngb-pagination /deep/ {
    ul {
        margin-left: 40%;
    }
    a {
        color: $text-color;
        &:hover {
            color: $text-color;
        }
    }
    .page-item.active .page-link {
        background-color: mat-color($accent);
        color: #fff;
        border: 1px solid mat-color($accent);
    }
    .page-link {
        color: mat-color($accent);
        padding: .40rem .65rem;
    }
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0;
    }
}