md-toolbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 24px;
    .close {
        margin-left: auto;
    }
}

.footer {
    position: absolute;
    bottom: 24px;
    right: 24px;
    button:last-of-type {
        margin-left: 24px;
    }
}