th:last-child {
    text-align: center;
    vertical-align: middle;
}

tr:first-child th {
    vertical-align: middle;
}

label {
    margin: 5px;
}

.filterWrapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

md-select {
    margin: 0 5px;
}

md-card {
    margin: 0;
    margin-bottom: 24px;
}