<md-toolbar>{{store.customerDescription}}</md-toolbar>

<md-list>
  <md-list-item>
    <span>Тел: номер </span>
    <span>{{ store.phoneNumber }}</span>
  </md-list-item>
  <md-list-item>
      <span md-line>{{ store.typeOfPayment.description }}: </span>
      <span md-line>Тип оплаты </span>
  </md-list-item>
  <md-list-item>
      <span md-line>{{ store.typeOfOrder.description }}: </span>
      <span md-line>Тип заказа </span>
  </md-list-item>
  <md-list-item>
    <span md-line>{{ store.typeOfDeliveryPoint.description }} </span>
    <span md-line>Тип доставки</span>
  </md-list-item>
  <md-list-item>
    <span>ИНН : </span>
    <span>{{ store.inn }} </span>
  </md-list-item>
</md-list>