.wrapper {
    display: flex;
    flex-direction: row;
}

.block-table {
    flex: 1 1 50%;
}

.block-comments {
    flex: 1 1 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    md-select {
        margin: 10px;
    }
    textarea {
        padding: 5px;
        width: 350px;
    }
    button {
        height: 36px;
    }
    .item-comment {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}