<md-toolbar>
  <span>Магазины</span>
  <button md-raised-button color="accent" (click)="dialogShop()">
          <md-icon>add</md-icon>
          <span>Добавить</span>
        </button>
</md-toolbar>
<div class="table-responsive">
  <table class="table  table-hover   table-condensed">
    <thead>
      <tr>
        <th><span>Id</span></th>
        <th><span>Наименование</span></th>
        <th><span>Статус</span></th>
        <th><span>Адрес Фактический</span></th>
      </tr>
    </thead>
    <tbody *ngIf="stores">
      <tr *ngFor="let store of stores; let i = index;" (click)="selectStore(store)" [ngClass]="{'active': isExistInList(store.id)}">
        <td>{{store.id}}</td>
        <td>{{store.description}}</td>
        <td>{{store.isActive}}</td>
        <td>{{store.addresses}}</td>
        <td>
          <button md-mini-fab color="accent" (click)="dialogShop($event,store.id)">
            <md-icon>edit</md-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

  <div class="modal-footer">
    <button md-raised-button type="button" (click)="close()">
        <md-icon>close</md-icon>
        <span>Отмена</span>
    </button>
    <button md-raised-button color="accent" (click)="save()">
        <md-icon>done</md-icon>
        <span>Сохранить</span>
    </button>
  </div>
</div>