@import "~theme.scss";
.active {
    background-color: mat-color($ts-accent, 200);
}

md-toolbar {
    button {
        position: absolute;
        right: 40px;
    }
}


/******** ngb-pagination *********/

ngb-pagination /deep/ {
    ul {
        margin-left: 40%;
    }
    a {
        color: $text-color;
        &:hover {
            color: $text-color;
        }
    }
    .page-item.active .page-link {
        background-color: mat-color($ts-accent);
        color: #fff;
        border: 1px solid mat-color($ts-accent);
    }
    .page-link {
        color: mat-color($ts-accent);
        padding: .40rem .65rem;
    }
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0;
    }
}