.wrapper {
    padding-top: 25px;
}

md-toolbar {
    overflow: hidden;
}

md-input-container {
    width: 100%;
}

.shops-block {
    margin-top: 24px;
    md-icon {
        cursor: pointer;
    }
    .remove-shop {
        color: white;
    }
}