.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.th-center {
    text-align: center;
}

h3 {
    margin: 0;
}

md-card {
    margin: 0;
}

ngb-pagination {
    display: flex;
    justify-content: center;
}