@import "~theme.scss";

.wrapper {
  margin-top:-24px;
  .title {
    padding-top:20px;
    padding-left:20px;
    margin-bottom:24px;
    text-align: justify;
    span {
      margin-left:30px;
      outline: 0px solid gray;

      &:first-of-type {
        margin-left:0;
      }
    }
  }

}



.wrapper-tab {
  height: 565px;
  md-list {
    padding-top:0;


  }
  md-list-item {
    outline: 0px solid red;

    width: 50%;
    &:first-of-type{

    }
    &:nth-of-type(even) {
      background-color: $tsPrimary50;
    }
    span {
      width: 200px;
    }

  }

  table {
    font-size: 16px;
  }

  .table thead .order {
    vertical-align: bottom;
    border-bottom: 2px solid #fff;
  }

  .order {
    background-color: #ECEFF1;
    border-top: 1px solid #fff;
  }
}

hr {
  margin:10px auto;
}
.btn-close{
  float: right;
  margin-top:10px;
  margin-top:24px;
  background-color: md-color($ts-accent);

  &:focus {
    outline:none;
  }
}
