<md-card class="top-menu">
  <md-slide-toggle [checked]="predictionEnabled" (change)="predictionChange($event)">Прогноз</md-slide-toggle>
  <md-radio-group class="day-month-group" [(ngModel)]="selectedPeriod">
    <md-radio-button *ngFor="let period of periods" [value]="period">{{period}}</md-radio-button>
  </md-radio-group>
  <md-select placeholder="Выберите торговых представителей" (change)="selectedAgentsChange()" [(ngModel)]="selectedAgents" [multiple]="true">
    <md-option *ngFor="let agent of agents" [value]="agent">
      {{agent.name}}
    </md-option>
  </md-select>
</md-card>
<md-card>
  <div class="row">
    <div class="container col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let plans of plansss">
      <plan-chart [plans]="plans"></plan-chart>
    </div>
  </div>
</md-card>


<ngb-datepicker>
  <ng-template>
    <span>{{ date.day }}</span>
  </ng-template>
</ngb-datepicker>
<br>
<br>
<br>



<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYFMTJ_5Be9n1PNTmzJskZqRWusvEngaMY&callback=initMap" async defer></script>-->
<div id="map" style="width:500px;height:380px;"></div>
<!--AIzaSyCYFMTJ_5Be9n1PNTmzJskZqRWusvEngaM -->