<div class="wrapper" *ngIf="user" [class.hide]="!show" (swipeleft)="swipe($event.type)">

    <!--<button md-icon-button (click)="toggle()" *ngIf="!show" class="open-menu">
  <md-icon>menu</md-icon>
</button>
<button  md-icon-button (click)="toggle()" *ngIf="show" class="close-menu">
  <md-icon>close</md-icon>
</button>-->

    <div class="profile">
        <div class="profile-background">
            <div class="avatar" [ngStyle]="{'background-image' : 'url(' + user.imageUrl + ')'}"></div>
            <button md-button [mdMenuTriggerFor]="menu">
              {{user.login}}<md-icon>arrow_drop_down</md-icon>
    </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item [routerLink]="['/account/profile']">
          <md-icon>perm_identity</md-icon>
          <span>Profile</span>
      </button>
                <button md-menu-item [routerLink]="['/account/profile']">
        <md-icon>settings</md-icon>
        <span>Setting</span>
      </button>
                <button md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
            </md-menu>
        </div>
        <!-- end profile background-->
    </div>

    <nav>
        <!--<p>{{ 'sidebar.menuItem.orders' | translate }}</p>-->
        <a [routerLink]="['/dashboard']" routerLinkActive="active" appHasAuthority="ROLE_ADMIN">
            <md-icon>dashboard</md-icon>Адм. панель</a>
        <!--<a [routerLink]="['/stores']" routerLinkActive="active" ><md-icon>store</md-icon>Магазины</a>-->
        <a [routerLink]="['/kpi']" routerLinkActive="active">KPI</a>
        <!--<a [routerLink]="['/kpi']" routerLinkActive="active"><md-icon>shop</md-icon>Товары</a>-->
        <!--<a [routerLink]="['/control1']" routerLinkActive="active"><md-icon>event</md-icon>Check</a>-->
        <!--<a [routerLink]="['/control3']" routerLinkActive="active"><md-icon>assessment</md-icon>Dns</a>-->
        <!--<a [routerLink]="['/control4']" routerLinkActive="active"><md-icon>receipt</md-icon>Receipt</a>-->
    </nav>


    <!--<app-footer></app-footer>-->
</div>