<md-toolbar>{{store.shortDescription }}</md-toolbar>

<md-list>
    <md-list-item>
        <span md-line>Тел. номер:  </span>
        <span md-line>{{ store.phoneNumber }}</span>
    </md-list-item>
    <md-list-item>
        <span md-line>{{ store.typesOfPayments[0].description }} </span>
        <span md-line>Тип оплаты </span>
    </md-list-item>
    <md-list-item>
        <span md-line>{{ store.email }} </span>
        <span md-line>Email</span>
    </md-list-item>
    <!--<md-list-item>
        <span>Время работы : </span>
        <span>С {{ store.acceptanceStartTime }} По {{ store.acceptanceEndTime }} </span>
    </md-list-item>-->

    <!--<md-list-item>
        <span>Инн/КПП : </span>
        <span> {{ store.inn }}/{{ store.kpp}} </span>
    </md-list-item>-->
</md-list>