<div class="header">
  <md-toolbar>
    <h3> Полевая активность </h3>
    <span class="close">
      <button md-icon-button (click)="close()">
        <md-icon >close</md-icon>
      </button>
    </span>
  </md-toolbar>
</div>

<div class="wrapper" *ngIf="event">
  <md-select placeholder="Тип" name="event" [(ngModel)]="event.type" [disabled]="access !== all">
    <md-option *ngFor="let type of types" [value]="type">
      {{ type }}
    </md-option>
  </md-select>
  <br>
  <br>

  <md-select placeholder="Маршрут" name="route" [(ngModel)]="event.route">
    <md-option *ngFor="let route of routes" [value]="getSelected(event.route, route)">
      {{ route.description }}
    </md-option>
  </md-select>
  <br>
  <br>

  <md-select *ngIf="teaching" placeholder="Тема" [(ngModel)]="teaching.typeOfTeaching">
    <md-option *ngFor="let theme of themes" [value]="getSelected(teaching.typeOfTeaching, theme)">
      {{ theme.description }}
    </md-option>
  </md-select>

  <md-select *ngIf="teaching && access === edu" placeholder="Отчет KPI" name="event" [(ngModel)]="teaching.planReport">
    <md-option *ngFor="let reportOption of reports" [value]="getSelected(teaching.planReport, reportOption)">
      {{ reportOption.description }}
    </md-option>
  </md-select>

</div>

<div class="footer">
  <button *ngIf="access === all" md-raised-button color="accent" (click)="saveEvent()">Сохранить</button>
  <button *ngIf="teaching && access === edu && !isStarted" md-raised-button color="accent" (click)="beginTeaching()" [disabled]="!teaching.planReport.id">Начать</button>
  <button *ngIf="access === edu && isStarted" md-raised-button color="accent" (click)="goToTeaching()">Продолжить</button>
  <button *ngIf="access === sch" md-raised-button color="accent" (click)="startEvent()">Начать</button>
  <button md-raised-button (click)="close()">Отмена</button>
</div>