@import '~@angular/material/theming';
@include mat-core();
$ts-primary: mat-palette($mat-teal, 600);
$ts-accent: mat-palette($mat-deep-orange);
$ts-warn: mat-palette($mat-red);
$ts-theme: mat-light-theme($ts-primary, $ts-accent, $ts-warn);
@include angular-material-theme($ts-theme);
$text-color: #000;
$tsAccent: #E57373;
$tsAccent300: #E57373;
$tsPrimary: #607D8B;
$tsPrimary300: mat-color($mat-teal, 50);
$tsPrimary200: mat-color($mat-teal, 200);
$divider-black: rgba(0, 0, 0, 0.12);
$grey-light: mat-color($mat-grey, 200);
$grey-dark: mat-color($mat-grey, 400);
$ts-primary-300: #B0BEC5;
$tsPrimary50: #E0F2F1;