@import '~@angular/material/theming';
// NOTE: Theming is currently experimental and not yet publically released!
@include mat-core();
$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-teal);
$warn: mat-palette($mat-red, 400);
$text-color: #646868;
$tsAccent: #E57373;
$tsAccent300: #E57373;
$tsPrimary: #607D8B;
$tsPrimary300: #90A4AE;
$tsPrimary200: #B0BEC5;
$tsPrimary50: #E0F2F1;
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
.m2app-dark {
    $dark-primary: mat-palette($mat-pink, 700, 500, 900);
    $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
    $dark-warn: mat-palette($mat-deep-orange);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
    @include angular-material-theme($dark-theme);
}


/******** ngb-pagination *********/

ngb-pagination /deep/ {
    ul {
        margin-left: 40%;
    }
    a {
        color: $text-color;
        &:hover {
            color: $text-color;
        }
    }
    .page-item.active .page-link {
        background-color: mat-color($accent);
        color: #fff;
        border: 1px solid mat-color($accent);
    }
    .page-link {
        color: mat-color($accent);
        padding: .40rem .65rem;
    }
    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        border-radius: 0;
    }
}