span {
    margin-right: 40px;
}

button {
    height: 36px;
    width: 130px;
}

@media (max-width: 850px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 35px;
        margin-top: 60px;
        button {
            margin-top: 20px;
        }
    }
}