<md-toolbar>Создание и редактирование торговой точки</md-toolbar>

<div class="wrapper">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <md-select placeholder="Юр. лицо" style="width: 50%">
            <md-option *ngFor="let customer of customers" [value]="customer.id">
                {{ customer.shortDescription }}
            </md-option>
        </md-select>
        <br>
        <md-input-container>
            <input mdInput placeholder="Наименование" name="description" [(ngModel)]="store.description" required>
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Контактный телефон" name="phoneNumber" [(ngModel)]="store.phoneNumber" required>
        </md-input-container>
        <br>
        <h6>Адрес торговой точки</h6>
        <app-autocomplite-address [placeholder]="'Введите адрес'"></app-autocomplite-address>
        <md-input-container>
            <input mdInput placeholder="Страна" name="description" required>
        </md-input-container>

        <br>
        <h6>Адрес доставки</h6>
        <app-autocomplite-address [placeholder]="'Введите адрес'"></app-autocomplite-address>
        <h6>Адрес приема товара</h6>
        <app-autocomplite-address [placeholder]="'Введите адрес'"></app-autocomplite-address>


        <div class="modal-footer">
            <button md-raised-button type="button" (click)="clear()">
                <md-icon>close</md-icon>
                <span>Отмена</span>
            </button>
            <button md-raised-button color="accent" type="submit" [disabled]="editForm.form.invalid || isSaving">
                <md-icon>done</md-icon>
                <span>Сохранить</span>
            </button>
        </div>

    </form>
</div>