.indicator-item {
    width: 100%;
    height: 94px;
    flex-direction: column;
    md-select {
        margin-top: 24px;
        width: 240px;
    }
    span {
        font-weight: bold;
    }
}

@media screen and (max-width: 660px) {
    .indicator-item {
        height: 100px;
    }
}