<div *ngIf="task" class="wrapper">
    <header>
        <md-toolbar>
            <div class="head">
                <div *ngIf="task.id;then editTask else createTask"></div>
                <ng-template #editTask>
                    <h3>Редактирование задачи</h3>
                </ng-template>
                <ng-template #createTask>
                    <h3>Создание задачи</h3>
                </ng-template>
                <span class="close">
              <button md-icon-button (click)="close()">
                <md-icon>close</md-icon>
              </button>
        </span>
            </div>
        </md-toolbar>
    </header>
    <br>
    <div class="content">
        <span *ngIf="task.code">Код: {{task.code}}</span>
        <md-input-container>
            <input mdInput placeholder="description" [(ngModel)]="task.description" name="description">
        </md-input-container>

        <md-select *ngIf="task.route" placeholder="route" name="route" [(ngModel)]="task.route" (ngModelChange)="getDeliveryPoints($event)">
            <md-option *ngFor="let route of routes" [value]="getSelectedSingle(task.route,route)">
                {{route.description}}
            </md-option>
        </md-select>

        <md-select placeholder="typeOfActivity" name="typeOfActivity" [(ngModel)]="task.typeOfActivity">
            <md-option *ngFor="let typeOfActivity of typeOfActivities" [value]="getSelectedSingle(task.typeOfActivity,typeOfActivity)">
                {{typeOfActivity.description}}
            </md-option>
        </md-select>

        <md-select placeholder="deliveryPoint" name="deliveryPoint" [(ngModel)]="task.deliveryPoint">
            <md-option *ngFor="let dp of deliveryPoints" [value]="getSelectedSingle(task.deliveryPoint, dp)">
                {{dp.description}}
            </md-option>
        </md-select>
    </div>
    <div class="footer">
        <button md-raised-button color="accent" (click)="save()">Сохранить</button>
        <button md-raised-button (click)="close()">Отмена</button>
    </div>
</div>