tr th {
    text-align: center;
}

md-card {
    margin: 24px;
}

.tbody {
    background: #F5F5F5;
    -webkit-box-shadow: -1px -1px 11px -2px rgba(204, 204, 204, 1);
    -moz-box-shadow: -1px -1px 11px -2px rgba(204, 204, 204, 1);
    box-shadow: -1px -1px 11px -2px rgba(204, 204, 204, 1);
}