p span {
    float: right;
    margin-right: 5%;
}

md-expansion-panel-header {
    height: 100px;
    span {
        margin-right: 4%;
    }
}

mat-panel-description {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

.header {
    margin-bottom: 24px;
    md-expansion-panel {
        background-color: #f5f5f5;
    }
}